<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active" >
      <img src="assets/img/item1.png" class="slide-image" alt="">
    </div>
    <div class="item">
      <img src="assets/img/item2.png" class="slide-image" alt="">
    </div>
    <div class="item">
      <img src="assets/img/item3.png" class="slide-image" alt="">
    </div>
    <a class="left carousel-control" href="javascript:$('.carousel').carousel('prev')" >
      <span class="glyphicon glyphicon-chevron-left">

      </span>
    </a>
    <a class="right carousel-control"  href="javascript:$('.carousel').carousel('next')" >
        <span class="glyphicon glyphicon-chevron-right">
            
        </span>
    </a>
  </div>
</div>